<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <% if(error.length> 0){ %>
        <div>
            <%= error %>
        </div>
        <% } %>


            <form action="/users/register" method="post">
                <input type="text" name="fullname" placeholder="Full name" />
                <input type="email" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <input type="submit" value="Register" />
            </form>

            <br><br><br>
            <a href="/users/login">Login</a>
</body>

</html>